// Place all the styles related to the Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stores {
  .item {
    overflow: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: 125px;

    img {
      width: 100px;
      margin-right: 5px;
      position: absolute;
    }

    h3 {
      margin-left: 120px;
      margin-top: 3px;
      margin-bottom: 2px;
    }

    p, div.fee_line {
      margin-left: 120px;
      margin-top: 0.5em;
      margin-bottom: 0.8em;
    }

    .fee {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
    }
  }
}
